@import url('https://fonts.googleapis.com/css2?&family=Nunito:wght@200;400&family=Lato:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html {
 
} */

body {
    font-size: 10px;
    color: wheat;
    font-family: 'Lato', 'Roboto', sans-serif;   
    background: linear-gradient(-45deg, #7D4E57,#212D40, #11151C);
    background-size: 400% 400%;
    position: relative;
    animation: change 20s ease-in-out infinite;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

/* BRAND */
.brand h1 {
    font-size: 3rem;
}

section {
    width: 100%;
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: #E8E8E6;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: rgb(167, 64, 84);
}


/* header */

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	/* background-color: rgba(31, 30, 30, 0.24); */
    transition: .3s ease background-color;
    font-size: 2rem;
    text-align: right;
}

#header .logo {
    font-size: 2.5rem;
    color: wheat;
}

/* Header -  Navbar */
#mainNav { 
    background: linear-gradient(130deg, #40282C,#212D40, #3F3327);
    opacity: .8;
}

/* EOF Header */

/* HERO SECTION */

#hero {
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
} 

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: flex;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .4s ease forwards;
    animation-delay: 2s;
}

#hero h1:nth-child(1){
    animation-delay: 1s;
}

#hero h1:nth-child(2){
    animation-delay: 1.5s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(167, 64, 84);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#header button {
    padding: 10px;
    border-radius: 20px;
    font-size: 1.6rem;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: #e0e0dc;
    background-color: transparent;
    border: 2px solid rgb(167, 64, 84);
    font-size: 2 rem;
    text-transform: uppercase;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: background-color color;
}

.cta:hover {
    color: white;
    background-color: rgb(167, 64, 84) ;
}

/*EOF HERO SECTION */

/* About */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .column-left {
    width: 250px;
    height: 360px;
}
#about .column-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .column-right p {
    margin-bottom: 20px;
}

#about .column-right .cta {
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .column-left .about-img{
    position: relative;
    border: 10px solid transparent;
    z-index: 1;
}

#about .column-left .about-img::after {
    content: '';
    position: absolute;
    left: -30px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 5px solid rgb(167, 64, 84);
    z-index: -1;
}
/* EOF About */

/* Skills */
#skills .skills {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#skills .skills-top {
	max-width: 500px;
	margin: 0 auto;
}
#skills .skills-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#skills .skills-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#skills .skills-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
#skills .skills-bottom .icon {
	height: 150px;
	width: 150px;
	margin-bottom: 20px;
}
#skills .skills-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#skills .skills-item p {
	color: white;
	text-align: left;
}
/* EOF SKill */

/* Contact */

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    color: wheat;
}

#contact .contact-items {
    width: 300px;
}
#contact .contact-item {
    /* background-color: #215446; */
    border-color: #215446;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  0px 0px 18px #D2D1CC;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #D2D1CC;
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
 
#contac .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* EOF Contact */

/* footer */
#footer {
    background-image: linear-gradient(-45deg, #29322c 0%, #485563 100%);
}

#footer .footer {
    min-height: 100px;
    flex-direction: column;
    padding-top: 50px;
}

#footer h2{
    color: wheat;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 10px 10px 5px 10px;
}

#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
    color: wheat;
	font-size: 1.3rem;
}

/* EOF FOOTER */

/* keyframes */
@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: wheat;
    }
}

@keyframes text_reveal_name {
    100% {
        color: rgb(167, 64, 84);
        font-weight: 700px;
    }
}

/* eofkeyframes */

/* Tablet Media Query */
@media only screen and (min-width:768px) {
    .cta {
        font-size: 2.5rem;
        padding-top: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }

    /* header - hero */
    #hero h1{
        font-size: 7rem;
    }
    /* EOF header - hero */

    /* About */
    #about .about {
        flex-direction: row;
    }

    #about .column-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .about .column-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border:  10px solid rgb(167, 64, 84);
    }

    #about .column-right {
        text-align: left;
        padding:30px;
    }

    #about .column-right h1 {
        text-align: left;
    }
    /* EOF About */

    /* Skills Section */
	#skills .skills-bottom .skills-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End skillss Section */

    /* Contact */
    #contact .contact {
        flex-direction: column;
        padding:100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin:0;
    }
    #contact .contact-item {
        margin: 20px;
        flex-direction: row;
    }

    #contact .contact-item .icon {
        height: 80px;
        width: 80px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* EOF Contact */
}
/* EOF Media Query */
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#skills .skills-bottom .skills-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
